
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css" rel="stylesheet">
<script>
  $(function() {    
    var alltags = <%= raw @alltags %>;
    // document.write(alltags);  
    $( "#search" ).autocomplete({
      source: alltags
    });

  });
  </script>

<div class = "header">

	<div class = "flickr">

		<h1 id="f">F</h1>
		<h1 id="l">L</h1>
		<h1 id="i">I</h1>
		<h1 id="c">C</h1>
		<h1 id="k">K</h1>
		<h1 id="r">R</h1>
		<h1 id="a">A</h1>
		<h1 id="p">P</h1>
		<h1 id="i">I</h1>
		
	</div>
	<br/>
	<br/>
	<div class = "search">
		<%= form_tag(:action => 'show') do %>
		<%= text_field(:flickrapi,:name,{:placeholder => "Photos, people", :class => "textfield", :id => "search"}) %>
		<%= submit_tag("Search") %>
			<% end %>

	</div>
	<br/>
	<br/>

	<div class = "nav">
		<%= link_to "Home",  {:action => 'index', :class => 'nav'} %>
		<p> About
		<p> Arrangement

	</div>
</div>

<div id="dummy"></div>
<script>


	$(document).on('click','.block',function(e){

		var obj = $(this).clone();
	
		$(obj).find('img').removeAttr('height');
		$(obj).find('img').removeAttr('width');
		$(obj).find('img').addClass('realimage');
		var oldlink = $(obj).find('img').attr('src');
		
		var newlink = oldlink.substr(0,oldlink.length-5)+'b.jpg';
		$(obj).find('img').removeAttr('src');
		$(obj).find('img').attr('src',newlink);
		$(obj).find('.hid').attr('class','hid2');
		$(obj).find('.group_info').attr('class','group_info2');
		$(obj).find('.info').attr('class','info2');
		$(obj).attr('class','block2');
		$(obj).find('.title').attr('class','title2');
	
		$(obj).dialog({
			
			width:'auto',
			draggable: false,
			
			show:500,
			hide:1000,
			position: {my:"left top", at:"left top", of : window},	
			
			});
	
		$(document).click(function(){
		
			$(obj).dialog("close");
		
		});
					
	});

			
	


</script>
<script>

var api_key = gon.api_key;
var keysearch = "<%= @keysearch || nil %>";
var t = keysearch.split(" ");
var key1 = "text=";
var key2 = "&tags="
for (var i in t) {
	key1 += t[i]+"+";	
	key2 += t[i]+"+";	
}
var search_key1 = key1.substring(0, key1.length-1);
var search_key2 = key2.substring(0, key2.length-1);
var url="https://api.flickr.com/services/rest/?method=flickr.photos.search&api_key="+api_key+"&"+search_key1+search_key2+"&per_page=500&format=json&jsoncallback=?";

$.getJSON(url,function(data){
	$.each(data.photos.photo,function(i,item){
		var realname_url="https://api.flickr.com/services/rest/?method=flickr.people.getInfo&api_key="+api_key+"&user_id="+item.owner+"&format=json&jsoncallback=?";
		$.getJSON(realname_url, function(data1){
			
			var name = (data1.person.realname._content ? data1.person.realname._content : 'undefined');
			var location = (data1.person.location._content ? data1.person.location._content : 'undefined');
			var time = (data1.person.photos.firstdatetaken._content ? data1.person.photos.firstdatetaken._content : 'undefined');
			var image_url = 'http://farm' + item.farm + '.static.flickr.com/' + item.server + '/' + item.id + '_' + item.secret + '_n.jpg';
			var photo_form = '<div class = "block"><img src="' + image_url + '" id = "image" width = "300" height = "300") ><div class = "hid"><div class = "group_info"><p class="title">' + item.title + '</p><p class="info" id="author"> Author: ' + name + '</p><p class="info" id="location"> Location: ' + location + '</p><p class="info" id = "time"> Time: ' + time + '</p></div></div></img></div>';

			$(photo_form).appendTo('#dummy');
		});
	});
});

</script>


